.rearrange-positions {
  width: 320px;
  height: 700px;
  background: pink;
}

.rearrange-positions__filter {
  width: 320px;
  height: 50px;
  background: green;
}

.rearrange-positions__control {
  width: 50px;
  height: 200px;
  background: yellow;
  float: left;
}

.rearrange-positions__list {
  width: 100%;
  height: 100%;
  background: red;
}

.pe-simple-slats, .pe-simple-slat__tabular {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pe-simple-slat {
  box-shadow: inset 0 0 0 1px #fff, 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.rearrange-control__button {
  width: 25px;
  height: 25px;
  display: block;
}