.rearrange-positions {
  width: 320px;
  height: 700px;
  background: pink;
  display: flex;
  flex-wrap: wrap;
  //align-items: flex-start;
  align-content: flex-start;
}

.rearrange-positions__filter {
  flex-basis: 100%;
  background: gray;
  height: 50px;
}

.rearrange-positions__control {
  flex-basis: 45px;
  height: 145px;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rearrange-positions__list {
  flex-grow: 1;
  background: red;
}

.pe-simple-slats, .pe-simple-slat__tabular {
  //margin: 0;
 // padding: 0;
  //list-style-type: none;
}

.pe-simple-slat {
  //box-shadow: inset 0 0 0 1px #fff, 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
}

.rearrange-control__button {
 // width: 25px;
 //height: 25px;
  //display: block;
}